* {
  margin: 0;
  font-family: sans-serif;
}

:root {
  --selective-blue: hsl(210, 69%, 25%);
  --selective-blue-2: hsl(210, 69%, 19%);
  --selective-blue-3: hsl(210, 69%, 35%);
  --light-gray:HSL(0, 0%, 60%);
  --black_80: hsla(0, 0%, 0%, 0.8);
  --kappel: hsl(170, 75%, 41%);
  --radical-red: hsl(351, 83%, 61%);
  --beige: #e6e1e1;
}

/*NAVBAR STYLING*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--selective-blue);
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.user-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 15px;
  margin-left: auto; 
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar img {
  height: 30px;
  position: absolute;
  margin-left: 150px;
}

.navbar span {
  font-size: 1.5rem;
}

.btn-add-new {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-add-new i {
  font-size: 1.2rem;
}

.custom-menu {
  position: absolute;
  top: 100%;
  right: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 8px;
  min-width: 150px;
}

.custom-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-menu li {
  padding: 8px 16px;
  cursor: pointer;
  color: black;
  white-space: nowrap;
}

.custom-menu li:hover {
  background-color: #f0f0f0;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 5px 10px;
  }

  .nav-icons {
    gap: 10px;
  }
}


/*NAVBAR STYLING

.navbar-ver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--selective-blue);
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.user-icon-ver {
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-icon-ver {
  cursor: pointer;
  font-size: 24px;
}

.custom-menu {
  position: absolute;
  right: 10px;
  top: 50px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.nav-links {
  display: flex;
  gap: 15px;
  margin-left: auto; 
  margin-right: 20px;
}

.nav-link-ver {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar img {
  height: 30px;
  position: absolute;
  margin-left: 15px;
}

.navbar span {
  font-size: 1.5rem;
}

.custom-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.custom-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: var(--selective-blue);
  opacity: 100%;
  color: #fff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

.nav-links-sidebar {
  display: flex;
  flex-direction: column;
}

.custom-menu {
  position: absolute;
  top: 100%;
  right: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 8px;
  min-width: 150px;
}

.custom-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-menu li {
  padding: 8px 16px;
  cursor: pointer;
  color: black;
  white-space: nowrap;
}

.custom-menu li:hover {
  background-color: #f0f0f0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  transition: background 0.3s;
}

.nav-link:hover {
  background: var(--selective-blue-3);
}

.name-div-ver{
  justify-content: center;
  margin-left: -25px;
}
*/

/* REGISTRATION AND LOGIN STYLLING */
.main__container {
  background-image: url("/2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  box-shadow: var(--black_80);
  padding-top: 0.5%;
}

.auth-container {
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.auth-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="datetime-local"],
.form-group textarea {
  padding: 8px;
  width: 96%;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid var(--beige);
  border-radius: 5px;
  font-size: 16px;
}

.form-group select {
  padding: 8px;
  width: 100%;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid var(--beige);
  border-radius: 5px;
  font-size: 16px;
}

.redirection__link {
  text-align: center;
  padding: 3%;
  padding-top: 5%;
}

.registration__link a {
  color: var(--selective-blue);
}

.registration__link a:hover {
  color: var(--selective-blue-3);
  background-color: transparent;
}

.login__button {
  width: 100%;
  height: 45px;
  color: white;
  font-size: 16px;
  background-color: var(--selective-blue);
  white-space: normal;
  border-radius: 5px;
  box-shadow: 0 0 2px var(--black_80);
  transition: 0.2s ease-out;
  border: none;
}

.btn {
  color: white;
  background-color: var(--selective-blue);
  font-size: 16px;
  padding: 5px 10px;
  width: 150px;
  white-space: normal;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px var(--black_80);
  transition: 0.2s ease-out;
}

.btn-danger {
  color: white;
  background-color: var(--radical-red);
  font-size: 16px;
  padding: 5px 10px;
  width: 150px;
  border: none;
  white-space: normal;
  border-radius: 5px;
  box-shadow: 0 0 2px var(--black_80);
  transition: 0.2s ease-out;
}

.btn:hover {
  background-color: var(--selective-blue-3);
}

.btn-danger:hover {
  background-color: hsl(351, 81%, 65%);
}

.login__button:hover {
  background-color: var(--selective-blue-3);
}

.form__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  bottom: 1.5rem;
  margin-top: 15px;
}

.form__footer .btn {
  padding: 7px 15px;
}

@media only screen and (max-width: 600px) {
  .auth-container {
    padding: 10px;
  }

  input[type="email"],
  input[type="password"],
  button {
    padding: 8px;
  }
}

/* FOOTER STYLING */
.footer {
  background-color: var(--selective-blue);
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*HEADER STYLLING*/
.container {
  width: min(1200px, 100% - 2rem);
  margin-inline: auto;
  overflow: hidden;
}

.container span {
  color: var(--selective-blue);
  font-weight: 600;
  font-size: x-large;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 4rem;
}

.bi-plus-square {
  margin-right: 5px;
}

/*OBLIGATION MANAGEMENT PAGE*/
.obligation-management-container {
  max-width: 1200px;
  margin: 0px auto 60px auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table .btn-danger{
width: 123px;
}

table .btn{
  width: 123px;
}

th {
  background-color: #f2f2f2;
  color: var(--selective-blue);
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f2f2f2;
}

.td-name {
  width: 18%;
  text-align: justify;
}

.td-content {
  width: 23%;
  text-align: justify;
}

.td-priority {
  width: 8%;
}

.td-time{
  width: 7%;
}

.td-due{
  width: 18%;
}

.td-actions .btn {
  margin-right: 2%;
}

.td-actions .btn-danger {
  margin-left: 2%;
}

.no-obligations {
  font-size: 18px;
}

@media only screen and (max-width: 1030px) {
  .td-actions .btn-danger {
    margin-left: 0; 
    margin-bottom: 1%;
  }
  .td-actions .btn {
    margin-right: 0;
    margin-top: 1%;
  }
  .td-content, .td-name {
    text-align: center;
  }
}

/* MODAL STYLLING */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--black_80);
  max-width: 400px;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-container {
  display: flex;
  justify-content: space-between;
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 20px;
  text-align: center;
}

/* Content area */
.obligation-management-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* No obligations message */
.no-obligations {
  text-align: center;
  font-size: 1.5em;
  color: #666;
}

/* Cards container */
.obligation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Single card styling */
.obligation-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.3s;
}

.obligation-card:hover {
  background-color: #f9f9f9;
}

.obligation-card h3 {
  text-align: center;
}

.obligation-card h3 i {
  margin-right: 8px;
  color: #007bff;
}

.obligation-card p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.obligation-card p i {
  margin-right: 8px;
}

.obligation-card .card-priority {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-actions .btn a {
  color: #fff;
  text-decoration: none;
}

.obligation-card p[style*="var(--radical-red)"] {
  color: var(--radical-red);
}

.obligation-card p[style*="var(--light-gray)"] {
  color: var(--light-gray);
}

.obligation-card p[style*="var(--selective-blue)"] {
  color: var(--selective-blue);
}

.obligation-card .btn {
  margin-right: 2%;
}

.obligation-card .card-desc{
text-align: justify;
}
.obligation-card .btn-danger {
  margin-left: 2%;
}


/*HOMEPAGE STYLING*/
.home-page {
  background-image: url("/2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px); 
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

.home-page h3 {
  margin-bottom: 20px;
  color: var(--selective-blue);
  font-size: 1.8rem;
}

.home-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.home-page .btn {
  background-color: var(--selective-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.home-page .btn:hover {
  background-color: var(--selective-blue-3);
}